<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
     
     <!-- 扫描所有Spring的注解 -->   
     <context:component-scan base-package="org.iss"/>
        
    <!-- 后处理器读取db.properties文件 -->   
    <context:property-override location="classpath:db.properties"/>
    <!-- 数据源（连接池）bean -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"/>
    
    <!-- 工厂bean，返回EntityManagerFactory -->
   <bean id="entityManagerFactory" 
    class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
    p:dataSource-ref="dataSource">
    	<!-- 设置JPA的实现，此处使用嵌套bean -->
    	<property name="jpaVendorAdapter">
    		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
    	</property>
    	
    	<!-- 这里配置所有需要扫描的Entity类所在的包即可 -->
    	<property name="packagesToScan">
    		<list>
    			<value>org.iss.domain</value>
    		</list>
    	</property>
    </bean>
    
    
 
 
  	
  	<!-- 服务层 -->
  	<bean id="appService" class="org.iss.servlet.impl.AppServiceImpl"
  	/>
  	
</beans>